.ratings_container {
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 0 auto;
    width: 100%;
}

.rating {
    background-color: var(--clr-lght-gry-magenta);
    align-items: center;
    justify-content: center;
    gap: .5em;
    width: 100%;
    border-radius: .5rem;
    padding: 1em .5em;
}

.star_container {
    width: 45%;
    justify-content: space-evenly;
}

.star {
    width: 15px;
    height: 15px;
}

.statement {
    font-weight: var(--fw-bold);
    color: var(--clr-vry-drk-magenta);
    font-size: 1.2rem;
}

@media screen and (min-width: 1440px) {
    .ratings_container {
        flex: 1.3;
        align-items: flex-end;
    }

    .rating {
        width: 70%;
    }

    .star_container {
        flex: .5;
    }

    .statement {
        text-align: left;
        flex: 1;
    }
    .rating.two {
        margin-right: 3em;
    }

    .rating.one {
        margin-right: 6em;
    }
}