@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');
/* reset and custom style classes */
/*
1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
2. Remove default margin
*/
* {
    margin: 0;
}
/*
3. Allow percentage-based heights in the application
*/
html, body {
    min-height: 100%;
    font-size: 15px;
    font-family: var(--ff-base);
}
/*
Typographic tweaks!
4. Add accessible line-height
5. Improve text rendering
*/
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    font-family: var(--ff-base);
}
/*
6. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
7. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}


/* Root Styles */
:root {
   --clr-vry-drk-magenta: hsl(300, 43%, 22%);
   --clr-drk-gry-magenta: hsl(303, 10%, 53%);
   --clr-lght-gry-magenta: hsl(300, 24%, 96%);
   --clr-soft-pink: hsl(333, 80%, 67%);
   --clr-white: hsl(0, 0%, 100%);

    --ff-base: 'League Spartan', sans-serif;

    --transition: 300ms ease-in-out;

    --fw-reg: 400;
    --fw-md: 500;
    --fw-bold: 700;
}

/* general styles */

.grid {
    display: grid;
}

.flex_row {
    display: flex;
    flex-wrap: wrap;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.center_by_flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_by_grid {
    display: grid;
    place-content: center;
}

.inactive {
    display: none;
}

.opacity {
    opacity: 1;
}

img {
    max-width: 100%;
    width: 100px;
    height: 100px;
}

/* body */

body {
    min-height: 100vh;
    padding: 5em 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App {
    gap: 3em;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .App {
        width: 80%;
        gap: 0;
    }
}